<div class="page-width">
  <div class="py-20">
    <h2 class="mb-5">Collection List</h2>
    <div class="flex flex-wrap -mx-4 gap-y-10">
      {% for collection in section.settings.collection %}
        <div class="px-4">
          <a href="{{ collection.url }}">
            {% if collection.featured_image %}
              <img src="{{ collection.featured_image | image_url: width: '340px', height: '400px' }}">
            {% endif %}
            <p class="font-bold mt-2">{{ collection.title }}</p>
            <p>{{ collection.price | money }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Collection Listing",
  "tag": "section",

  "settings": [

    {
      "type": "collection_list",
      "id": "collection",
      "label": "Collection"
    },
  ],
  "presets": [
    {
      "name": "Collection Listing",
    }
  ]
}
{% endschema %}
