<div class="page-width !py-10">
  <div class="flex flex-wrap -mx-4 [&>div]:px-4">{% content_for 'blocks' %} Test Change</div>
</div>

{% schema %}
{
  "name": "Group",
  "blocks": [{ "type": "test" }, { "type": "TitleWithImageBlock" }],
  "presets": [{ "name": "Group" }]
}
{% endschema %}
