{% layout none %}
<div class="page-width">
  <!-- <h2 class="text-center mb-4">{{ cart | json }}</h2> -->
  <div class="text-center mb-10">description</div>
  <div class="!grid !grid-cols-4 !grid-rows-2 gap-x-0 gap-y-0">
    <div>aaaa</div>
    <div>aaaa</div>
    <div>aaaa</div>
    <div>aaaa</div>
  </div>
</div>
